:root {
    --black-2: rgba(0, 0, 0, 0.502);
    --black-6: rgba(0, 0, 0, 0.51);
    --black-5: rgba(0, 0, 0, 0.6);
    --black-4: rgba(0, 0, 0, 0.698);
    --black-3: rgba(0, 0, 0, 8);
    --black: rgba(0, 0, 0, 1);
    --denim: rgba(35, 131, 196, 1);
    --shark: rgba(37, 40, 43, 1);
    --curious-blue: rgba(45, 156, 219, 1);
    --ship-gray: rgba(63, 63, 63, 1);
    --jade: rgba(67, 154, 134, 1);
    --abbey: rgba(79, 79, 79, 1);
    --scarpa-flow: rgba(83, 84, 97, 1);
    --viking: rgba(86, 204, 242, 1);
    --granite-gray: rgba(102, 102, 102, 0.4);
    --granite-gray-2: rgba(105, 105, 105, 1);
    --silver-shalice: rgba(174, 174, 174, 1);
    --mojo: rgba(187, 68, 48, 1);
    --cloud: rgba(198, 198, 198, 1);
    --gray-nurse-2: rgba(232, 232, 232, 0.698);
    --gray-nurse: rgba(232, 232, 232, 1);
    --alice-blue: rgba(240, 246, 255, 1);
    --concrete: rgba(242, 242, 242, 1);
    --concrete-2: rgba(243, 243, 243, 1);
    --coconut: rgba(250, 253, 255, 1);
    --coconut-2: rgba(251, 252, 254, 1);
    --red: rgba(255, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);

    --font-size-xxs: 9px;
    --font-size-xs: 12px;
    --font-size-s: 13px;
    --font-size-m: 14px;
    --font-size-l: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 24px;

    --font-family-dm_sans: "DM Sans";
    --font-family-lato: "Lato";
    --font-family-montserrat: "Montserrat";
    --font-family-quicksand: "Quicksand";
    --font-family-work_sans: "Work Sans";
}

.dmsans-bold-white-14px {
    color: var(--white);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.lato-normal-ship-gray-14px {
    color: var(--ship-gray);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.border-0-3px-cloud {
    border-width: 0.3px;
    border-style: solid;
    border-color: var(--cloud);
}

.lato-normal-concrete-12px {
    color: var(--concrete);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: italic;
}

.lato-normal-silver-chalice-19-1px {
    color: var(--silver-shalice);
    font-family: var(--font-family-lato);
    font-size: 19.058868408203125px;
    font-weight: 400;
    font-style: normal;
}

.lato-bold-black-18px-4 {
    color: var(--black-2);
    font-family: var(--font-size-xl);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}

.lato-semi-bold-denim-14px {
    color: var(--denim);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}

.lato-normal-black-18px {
    color: var(--black-2);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
}

.lato-normal-silver-chalice-14px {
    color: var(--silver-shalice);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}
.lato-semi-bold-curious-blue-18px {
    color: var(--curious-blue);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 600;
    font-style: normal;
}
.border-0-5px-curious-blue {
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--curious-blue);
}
.worksans-bold-white-12px {
    color: var(--white);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-style: normal;
}
.dmsans-bold-curious-blue-14px {
    color: var(--curious-blue);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}
.lato-bold-curious-blue-22-3px {
    color: var(--curious-blue);
    font-family: var(--font-family-lato);
    font-size: 22.321767807006836px;
    font-weight: 700;
    font-style: normal;
}
.lato-bold-white-18px-2 {
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}

.border-1px-abbey {
    border-width: 1px;
    border-style: solid;
    border-color: var(--abbey);
}

.lato-normal-shark-12px {
    color: var(--shark);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}

.montserrat-bold-white-18px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}

.lato-normal-cloud-14px {
    color: var(--cloud);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.border-1px-curious-blue {
    border-width: 1px;
    border-style: solid;
    border-color: var(--curious-blue);
}

.lato-bold-black-18px-3 {
    color: var(--black-5);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}

.lato-normal-black-24px {
    color: var(--black-2);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    font-style: normal;
}

.lato-semi-bold-jade-18px {
    color: var(--jade);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 600;
    font-style: normal;
}

.lato-medium-black-24px {
    color: var(--black-2);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xxl);
    font-weight: 500;
    font-style: normal;
}

.montserrat-normal-black-18px-2 {
    color: var(--black-5);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
}

.montserrat-normal-black-48px {
    color: var(--black-3);
    font-family: var(--font-family-montserrat);
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
}

.lato-semi-bold-black-24px-2 {
    color: var(--black-3);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xxl);
    font-weight: 600;
    font-style: normal;
}

.montserrat-normal-black-12px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}
.lato-normal-black-18px-2 {
    color: var(--black-3);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
}
.lato-bold-black-18px-2 {
    color: var(--black);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}
.lato-normal-curious-blue-16px {
    color: var(--curious-blue);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
}
.lato-bold-denim-18px {
    color: var(--denim);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}
.lato-normal-white-12px {
    color: var(--white);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}
/* .lato-normal-denim-14px {
    color: var(--denim);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
} */
.dmsans-bold-denim-14px {
    color: var(--denim);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}
.border-2px-curious-blue {
    border-width: 2px;
    border-style: solid;
    border-color: var(--curious-blue);
}
.montserrat-normal-abbey-14px {
    color: var(--abbey);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}
.lato-medium-black-14px {
    color: var(--black-4);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
}
.border-0-9px-gray-nurse-2 {
    border-width: 0.9px;
    border-style: solid;
    border-color: var(--gray-nurse-2);
}
.lato-normal-scarpa-flow-13px {
    color: var(--scarpa-flow);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
}
.lato-bold-black-18px {
    color: var(--black-3);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}
.lato-medium-granite-gray-14px {
    color: var(--granite-gray);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
}
.lato-semi-bold-granite-gray-14px {
    color: var(--granite-gray);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}
.lato-bold-white-22-3px {
    color: var(--white);
    font-family: var(--font-family-lato);
    font-size: 22.321767807006836px;
    font-weight: 700;
    font-style: normal;
}
.lato-semi-bold-granite-gray-28-6px {
    color: var(--granite-gray-2);
    font-family: var(--font-family-lato);
    font-size: 28.588300704956055px;
    font-weight: 600;
    font-style: normal;
}
.montserrat-light-concrete-12px {
    color: var(--concrete);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xs);
    font-weight: 300;
    font-style: normal;
}
.lato-normal-cloud-16px {
    color: var(--cloud);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
}
.border-1px-concrete-2 {
    border-width: 1px;
    border-style: solid;
    border-color: var(--concrete-2);
}
.montserrat-light-black-14px {
    color: var(--black-6);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 300;
    font-style: normal;
}
.lato-bold-black-12px {
    color: var(--black);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-style: normal;
}
.montserrat-normal-black-18px {
    color: var(--black-3);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
}
.border-2px-cloud {
    border-width: 2px;
    border-style: solid;
    border-color: var(--cloud);
}
.montserrat-normal-black-9px {
    color: var(--black-4);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    font-style: normal;
}
.lato-bold-white-18px {
    color: var(--white);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}
.montserrat-normal-black-14px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}
.lato-medium-black-18px {
    color: var(--black-2);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-style: normal;
}
.lato-semi-bold-mojo-18px {
    color: var(--mojo);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 600;
    font-style: normal;
}
.lato-bold-abbey-18px {
    color: var(--abbey);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}
.lato-bold-red-18px {
    color: var(--red);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}
.lato-normal-scarpa-flow-18px {
    color: var(--scarpa-flow);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
}
.montserrat-medium-curious-blue-14px {
    color: var(--curious-blue);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
}
.quicksand-medium-curious-blue-48px {
    color: var(--curious-blue);
    font-family: var(--font-family-quicksand);
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
}
.border-0-9px-gray-nurse {
    border-width: 0.9px;
    border-style: solid;
    border-color: var(--gray-nurse);
}
.lato-normal-granite-gray-14px {
    color: var(--granite-gray-2);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}
.lato-semi-bold-black-24px {
    color: var(--black-2);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xxl);
    font-weight: 600;
    font-style: normal;
}



:root {
    --black-2: rgba(0, 0, 0, 0.502);
    --black-6: rgba(0, 0, 0, 0.51);
    --black-5: rgba(0, 0, 0, 0.6);
    --black-4: rgba(0, 0, 0, 0.698);
    --black-3: rgba(0, 0, 0, 8);
    --black: rgba(0, 0, 0, 1);
    --denim: rgba(35, 131, 196, 1);
    --shark: rgba(37, 40, 43, 1);
    --curious-blue: rgba(45, 156, 219, 1);
    --ship-gray: rgba(63, 63, 63, 1);
    --jade: rgba(67, 154, 134, 1);
    --abbey: rgba(79, 79, 79, 1);
    --scarpa-flow: rgba(83, 84, 97, 1);
    --viking: rgba(86, 204, 242, 1);
    --granite-gray: rgba(102, 102, 102, 0.4);
    --granite-gray-2: rgba(105, 105, 105, 1);
    --silver-shalice: rgba(174, 174, 174, 1);
    --mojo: rgba(187, 68, 48, 1);
    --cloud: rgba(198, 198, 198, 1);
    --gray-nurse-2: rgba(232, 232, 232, 0.698);
    --gray-nurse: rgba(232, 232, 232, 1);
    --alice-blue: rgba(240, 246, 255, 1);
    --concrete: rgba(242, 242, 242, 1);
    --concrete-2: rgba(243, 243, 243, 1);
    --coconut: rgba(250, 253, 255, 1);
    --coconut-2: rgba(251, 252, 254, 1);
    --red: rgba(255, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);

    --font-size-xxs: 9px;
    --font-size-xs: 12px;
    --font-size-s: 13px;
    --font-size-m: 14px;
    --font-size-l: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 24px;

    --font-family-dm_sans: "DM Sans";
    --font-family-lato: "Lato";
    --font-family-montserrat: "Montserrat";
    --font-family-quicksand: "Quicksand";
    --font-family-work_sans: "Work Sans";
}

.dmsans-bold-white-14px {
    color: var(--white);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.lato-normal-ship-gray-14px {
    color: var(--ship-gray);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.border-0-3px-cloud {
    border-width: 0.3px;
    border-style: solid;
    border-color: var(--cloud);
}

.lato-normal-concrete-12px {
    color: var(--concrete);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: italic;
}

.lato-normal-silver-chalice-19-1px {
    color: var(--silver-shalice);
    font-family: var(--font-family-lato);
    font-size: 19.058868408203125px;
    font-weight: 400;
    font-style: normal;
}

.lato-bold-black-18px-4 {
    color: var(--black-2);
    font-family: var(--font-size-xl);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}

.lato-semi-bold-denim-14px {
    color: var(--denim);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}

.lato-normal-black-18px {
    color: var(--black-2);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
}

.lato-normal-silver-chalice-14px {
    color: var(--silver-shalice);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}
.lato-semi-bold-curious-blue-18px {
    color: var(--curious-blue);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 600;
    font-style: normal;
}
.border-0-5px-curious-blue {
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--curious-blue);
}
.worksans-bold-white-12px {
    color: var(--white);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-style: normal;
}
.dmsans-bold-curious-blue-14px {
    color: var(--curious-blue);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}
.lato-bold-curious-blue-22-3px {
    color: var(--curious-blue);
    font-family: var(--font-family-lato);
    font-size: 22.321767807006836px;
    font-weight: 700;
    font-style: normal;
}
.lato-bold-white-18px-2 {
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}

.border-1px-abbey {
    border-width: 1px;
    border-style: solid;
    border-color: var(--abbey);
}

.lato-normal-shark-12px {
    color: var(--shark);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}

.montserrat-bold-white-18px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}

.lato-normal-cloud-14px {
    color: var(--cloud);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}

.border-1px-curious-blue {
    border-width: 1px;
    border-style: solid;
    border-color: var(--curious-blue);
}

.lato-bold-black-18px-3 {
    color: var(--black-5);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}

.lato-normal-black-24px {
    color: var(--black-2);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    font-style: normal;
}

.lato-semi-bold-jade-18px {
    color: var(--jade);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 600;
    font-style: normal;
}

.lato-medium-black-24px {
    color: var(--black-2);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xxl);
    font-weight: 500;
    font-style: normal;
}

.montserrat-normal-black-18px-2 {
    color: var(--black-5);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
}

.montserrat-normal-black-48px {
    color: var(--black-3);
    font-family: var(--font-family-montserrat);
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
}

.lato-semi-bold-black-24px-2 {
    color: var(--black-3);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xxl);
    font-weight: 600;
    font-style: normal;
}

.montserrat-normal-black-12px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}
.lato-normal-black-18px-2 {
    color: var(--black-3);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
}
.lato-bold-black-18px-2 {
    color: var(--black);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}
.lato-normal-curious-blue-16px {
    color: var(--curious-blue);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
}
.lato-bold-denim-18px {
    color: var(--denim);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}
.lato-normal-white-12px {
    color: var(--white);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}
.lato-normal-denim-14px {
    color: var(--denim);
    font-family: var(--font-family-dm_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}
.border-2px-curious-blue {
    border-width: 2px;
    border-style: solid;
    border-color: var(--curious-blue);
}
.montserrat-normal-abbey-14px {
    color: var(--abbey);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}
.lato-medium-black-14px {
    color: var(--black-4);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
}
.border-0-9px-gray-nurse-2 {
    border-width: 0.9px;
    border-style: solid;
    border-color: var(--gray-nurse-2);
}
.lato-normal-scarpa-flow-13px {
    color: var(--scarpa-flow);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
}
.lato-bold-black-18px {
    color: var(--black-3);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}
.lato-medium-granite-gray-14px {
    color: var(--granite-gray);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
}
.lato-semi-bold-granite-gray-14px {
    color: var(--granite-gray);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
}
.lato-bold-white-22-3px {
    color: var(--white);
    font-family: var(--font-family-lato);
    font-size: 22.321767807006836px;
    font-weight: 700;
    font-style: normal;
}
.lato-semi-bold-granite-gray-28-6px {
    color: var(--granite-gray-2);
    font-family: var(--font-family-lato);
    font-size: 28.588300704956055px;
    font-weight: 600;
    font-style: normal;
}
.montserrat-light-concrete-12px {
    color: var(--concrete);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xs);
    font-weight: 300;
    font-style: normal;
}
.lato-normal-cloud-16px {
    color: var(--cloud);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
}
.border-1px-concrete-2 {
    border-width: 1px;
    border-style: solid;
    border-color: var(--concrete-2);
}
.montserrat-light-black-14px {
    color: var(--black-6);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 300;
    font-style: normal;
}
.lato-bold-black-12px {
    color: var(--black);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-style: normal;
}
.montserrat-normal-black-18px {
    color: var(--black-3);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
}
.border-2px-cloud {
    border-width: 2px;
    border-style: solid;
    border-color: var(--cloud);
}
.montserrat-normal-black-9px {
    color: var(--black-4);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    font-style: normal;
}
.lato-bold-white-18px {
    color: var(--white);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}
.montserrat-normal-black-14px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}
.lato-medium-black-18px {
    color: var(--black-2);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-style: normal;
}
.lato-semi-bold-mojo-18px {
    color: var(--mojo);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 600;
    font-style: normal;
}
.lato-bold-abbey-18px {
    color: var(--abbey);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}
.lato-bold-red-18px {
    color: var(--red);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
}
.lato-normal-scarpa-flow-18px {
    color: var(--scarpa-flow);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
}
.montserrat-medium-curious-blue-14px {
    color: var(--curious-blue);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
}
.quicksand-medium-curious-blue-48px {
    color: var(--curious-blue);
    font-family: var(--font-family-quicksand);
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
}
.border-0-9px-gray-nurse {
    border-width: 0.9px;
    border-style: solid;
    border-color: var(--gray-nurse);
}
.lato-normal-granite-gray-14px {
    color: var(--granite-gray-2);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}
.lato-semi-bold-black-24px {
    color: var(--black-2);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xxl);
    font-weight: 600;
    font-style: normal;
}