@import url("https://fonts.googleapis.com/css? family=Montserrat:400,300,700,500,400italic,600|Work+Sans:700|Quicksand:700,500");

.inscription {
    align-items: flex-start;
    background-color: #fbfcfe;
    display: flex;
    width: 1440px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.rectangle-1 {
    background-color: var(--curious-blue);
    height: 771px;
    margin-left: 43px;
    transform: rotate(-180deg);
    width: 698px;
}
.flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-top: 58px;
    min-height: 616px;
    width: 654px;
}
.overlap-group-2 {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 15px #0000001a;
    display: flex;
    height: 76px;
    margin-top: 28px;
    min-width: 652px;
    padding: 22.5px 27.3px;
}

.mot-de-passe1 {
    align-self: center;
    letter-spacing: 0;
    margin-bottom: 2px;
    margin-left: 23px;
    min-height: 17px;
    min-width: 92px;
}

.key {
    height: 29px;
    width: 29px;
}

.group-400 {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    margin-top: 41px;
    min-width: 654px;
}
.overlap-group4 {
    align-items: flex-end;
    background-color: var(--curious-blue);
    border-radius: 10px;
    box-shadow: 0px 4px 15px #0000001a;
    display: flex;
    height: 47px;
    justify-content: flex-end;
    min-width: 652px;
    padding: 12px 282px;
}

.sinscrire-1 {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 700;
    letter-spacing: 0;
    min-height: 22px;
    min-width: 87px;
}

.overlap-group-1 {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 15px #0000001a;
    display: flex;
    height: 76px;
    margin-top: 39px;
    min-width: 652px;
    padding: 22.5px 27.5px;
}

.overlap-group1 {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 15px #0000001a;
    display: flex;
    height: 76px;
    margin-top: 39px;
    min-width: 652px;
    padding: 22.5px 27.5px;
}
.nom-complet {
    align-self: center;
    letter-spacing: 0;
    margin-bottom: 2px;
    margin-left: 23px;
    min-height: 17px;
    min-width: 97px;
}
.ic24-user {
    height: 29px;
    width: 29px;
}
.key-1 {
    height: 29px;
    width: 29px;
}
.confirmer-mot-de-passe {
    align-self: center;
    letter-spacing: 0;
    margin-left: 23px;
    min-height: 17px;
    min-width: 169px;
}
.crer-un-compte {
    color: #00000099;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 20px;
    min-height: 22px;
}

.mail-container {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 15px #0000001a;
    display: flex;
    height: 76px;
    margin-left: 2px;
    margin-top: 28px;
    min-width: 652px;
    padding: 22.5px 27.5px;
}
.email {
    align-self: center;
    letter-spacing: 0;
    margin-bottom: 2px;
    margin-left: 23px;
    min-height: 17px;
    min-width: 42px;
}

.mail {
    height: 29px;
    width: 29px;
}

.sinscrire1 {
    color: #000000cc;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    letter-spacing: 0;
    min-height: 59px;
}


@import url("https://fonts.googleapis.com/css? family=Montserrat:400,300,700,500,400italic,600|Work+Sans:700|Quicksand:700,500");

.connexion {
    align-items: flex-start;
    background-color: #fbfcfe;
    display: flex;
    height: 771px;
    width: 1440px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.overlap-group3 {
    align-items: center;
    background-color: var(--curious-blue);
    display: flex;
    flex-direction: column;
    margin-left: 62px;
    min-height: 771px;
    padding: 110px 51px;
    width: 661px;
}

.lorem-ipsum-dolor-si {
    align-self: flex-end;
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22.7px;
    margin-top: 44px;
    min-height: 70px;
    text-align: center;
    width: 558px;
}

.group-399 {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    margin-left: 28px;
    margin-top: 111px;
    min-width: 247px;
}

.overlap-group {
    align-items: flex-start;
    background-color: #0072b3;
    border-radius: 13.62px;
    display: flex;
    height: 61px;
    justify-content: flex-end;
    min-width: 247px;
    padding: 19px;
}

.sinscrire-maintenant {
    letter-spacing: 0;
    min-height: 22px;
}

.sinscrire {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxl);
    font-weight: 500;
    letter-spacing: 0;
    margin-left: 1px;
    min-height: 59px;
    min-width: 220px;
}

.flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 61px;
    margin-top: 58px;
    min-height: 430px;
    width: 656px;
}

.connectez-vous-votre-compte {
    color: #00000099;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 35px;
    min-height: 22px;
}

.mail-container {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 15px #0000001a;
    display: flex;
    height: 76px;
    margin-left: 2px;
    margin-top: 24px;
    min-width: 652px;
    padding: 22.5px 27.5px;
}
.adresse-mail {
    align-self: center;
    letter-spacing: 0;
    margin-bottom: 2px;
    margin-left: 23px;
    min-height: 17px;
    min-width: 42px;
}

.mail {
    height: 29px;
    width: 29px;
}


.title {
    color: #000000cc;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    letter-spacing: 0;
    min-height: 59px;
}

.overlap-group1 {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 15px #0000001a;
    display: flex;
    height: 76px;
    margin-left: 2px;
    margin-top: 48px;
    min-width: 652px;
    padding: 22.5px 27.3px;
}

.mot-de-passe {
    align-self: center;
    letter-spacing: 0;
    margin-bottom: 2px;
    margin-left: 23px;
    min-height: 17px;
    min-width: 92px;
}

.key {
    height: 29px;
    width: 29px;
}

.flex-row {
    align-items: flex-start;
    display: flex;
    height: 62px;
    margin-left: 2px;
    margin-top: 28px;
    min-width: 652px;
}

.forgot-password {
    color: var(--curious-blue);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 400;
    letter-spacing: 0;
    margin-left: 318px;
    min-height: 22px;
}

.group-407 {
    align-items: flex-start;
    align-self: flex-end;
    cursor: pointer;
    display: flex;
    min-width: 172px;
}

.overlap-group2 {
    align-items: flex-start;
    background-color: #56ccf2;
    border-radius: 13.62px;
    display: flex;
    height: 61px;
    min-width: 170px;
    padding: 19px 34px;
}

.connexion-1 {
    letter-spacing: 0;
    min-height: 22px;
}




body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-radius: 50px;
    box-shadow: 5px 3px;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: blue;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .container{
    position: relative;
    left: 0px;
    padding-top: 50px;
  }

  .tab{
    margin-top: 100px;
  }
  .scolaire{
    position: absolute;
    width: 400px;
    height: 300px;
    left: -200px;
    top: 40px;
    
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
    /* 1 */
    
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 28px;

  }
  .back1{
    
position: absolute;
width: 200.83px;
height: 210px;
left: 300px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 25.4118px 38.1177px rgba(0, 0, 0, 0.06), 0px 3.17648px 9.52943px rgba(0, 0, 0, 0.04), 0px 0px 1.58824px rgba(0, 0, 0, 0.04);
border-radius: 34.4707px;
  }
  .back2{
    
    position: absolute;
    width: 200.83px;
    height: 210px;
    left: 550px;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 25.4118px 38.1177px rgba(0, 0, 0, 0.06), 0px 3.17648px 9.52943px rgba(0, 0, 0, 0.04), 0px 0px 1.58824px rgba(0, 0, 0, 0.04);
    border-radius: 34.4707px;
      }
      .back3{
        
position: absolute;
width: 320.43px;
height: 206.17px;
left: -150px;
top: 0px;

/* #2D9CDB */

background: #2D9CDB;
border-radius: 26px;
      }
      .vct{
        position: absolute;
        width: 210.29px;
height: 120.96px;
left: 110.85px;
top: 86px;

      }
 #btn{
  width: 163.21px;
  height: 41.03px;
  left: 334px;
  top: 510px;
  
  /* #56CCF2 */
  
  background: #56CCF2;
  border-radius: 13.617px;
 }



         
/* nav
{
position: absolute;
width: 100%;
height: 77px;
left: 0px;
top: 0px;
background: white;
} */




input{
    border-radius: 5px;
    text-align:center;
   
}
h2{
    color: blue;
}
h3{
    color:blue;
}
button{
    margin-left: 900px;
    margin-top: -30px;
    background: none;
}
body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    top:  100px;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: sticky;
    height: 100%;
    overflow: auto;
    background: #FFFFFF;
box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
border-radius: 60px;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #F0F7FF;
    color: #56CCF2;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

.container{
    padding-left: 0px;
    width: 100%;

}
table tr{
  border: hidden;
}
